body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
}

.vertical-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}

.map-container {
  height: 70%;
}

.button-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}

.horizontal-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  gap: 5px;
  justify-content: space-evenly;
}

.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vh;
  display: flex;
  z-index: 1000;
  pointer-events: none;
}

label {
  width: 50vw;
  color: white;
  background-color: black;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
}

input {
  width: 60vw;
  color: white;
  background-color: black;
  font-size: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 40vw;
  padding: 10px 20px;
  font-size: 10px;
  background-color: black;
  color: white;
  border: 4px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

button:active {
  background-color: green;
}

.dropdown {
  width: 40vw;
  padding: 10px 20px;
  font-size: 10px;
  background-color: black;
  color: white;
  border: 4px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown:active,
.dropdown:focus {
  outline: none;
}

/* Styling for selected and regular button states */
.selected {
  border-color: green; /* Green border for selected button */
}

.regular {
  border-color: none; /* Black border for regular button */
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  z-index: 1001;
  background: green;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.outer-circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner-circle {
  width: 8px;
  height: 8px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
