body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial;
  font-size: 14px;
}

.vertical-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}

.map-container {
  height: 100%;
}

.button-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-evenly;
}

.loading-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw;
  height: 10vh;
  display: flex;
  z-index: 1000;
  pointer-events: none;
}

.distance-container {
  height: 50%;
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  gap: 5px;
  justify-content: space-evenly;
}

label {
  height: 100%;
  width: 50vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  box-sizing: border-box;
}

input {
  width: 60vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
  padding: 0px 3px;
}
input:focus {
  border: none;
  outline: none;
}


.origin-input {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  height: 6vh;
  width: 39vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
}

.origin-ul {
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 1000;
  height: 6vh;
  width: 38vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
}

.destination-input {
  position: absolute;
  top: 10px;
  right: 55px;
  z-index: 1000;
  height: 6vh;
  width: 39vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
}

.destination-ul {
  position: absolute;
  top: 55px;
  right: 55px;
  z-index: 1000;
  height: 6vh;
  width: 38vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: none;
}

button {
  width: 40vw;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 4px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

button:active {
  background-color: green;
}

/* Styling for selected and regular button states */
.selected {
  border-color: green; /* Green border for selected button */
}

.regular {
  border-color: none; /* Black border for regular button */
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  z-index: 1001;
  background: green;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.outer-circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner-circle-white {
  width: 8px;
  height: 8px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle-green {
  width: 8px;
  height: 8px;
  background-color: green;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  color: white;
  background-color: black;
  padding: 5px;
  font-size: 10;
  overflow: hidden;
}

.calculate-button {
  position: absolute;
  bottom: 55px;
  right: 10px;
  z-index: 1000;
  width: 46vw;
  height: 6vh;
  padding: 0px 0px;
}

.locate-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 40px;
  height: 6vh;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-origin-button {
  position: absolute;
  bottom: 112px;
  left: 10px;
  z-index: 1000;
  height: 6vh;
  width: 46vw;
}

.set-destination-button {
  position: absolute;
  bottom: 112px;
  right: 10px;
  z-index: 1000;
  height: 6vh;
  width: 46vw;
}

.time-dropdown {
  position: absolute;
  bottom: 55px;
  left: 10px;
  z-index: 1000;
  height: 6vh;
  width: 46vw;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 0px 0px;
  text-align: center;
  text-align-last: center;
}
.time-dropdown:active,
.time-dropdown:focus {
  outline: none;
}

.cool-distance {
  position: absolute;
  left: 10px;
  bottom: 16px;
  z-index: 1000;
  height: 4vh;
  width: 46vw;
}

.direct-distance {
  position: absolute;
  right: 10px;
  bottom: 16px;
  z-index: 1000;
  height: 4vh;
  width: 46vw;
}
